@import "tailwindcss";

:root {
  --background: #1b1613;
  --foreground: #f1ebe7;
}

@theme inline {
  --color-bg: #1b1613;
  --color-surface: #1c1917;
  --color-text: #f1ebe7;
  --color-accent: #e8849b;
  --color-accent-light: #ec9eb5;
  --color-muted: #a89d95;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
}
